#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    border: 5px solid black;
    width: 1200px;
    height: 750px;

    position: relative;
}
header{
    text-align: center;
}
#tab{
    width: 180px;
    text-align: center;
    background-color: orange;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
    position: absolute;
    top: 15.5%;
    right: 12%;
}
#theBook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#book{
    width: 1100px;
    height: 550px;
    background-color: red;
    
    border: 5px solid black;
    border-radius: 25px;
}
#previousBtn{
    margin: 0px 15px;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 52px 30px 0;
    border-color: transparent #FF4532 transparent transparent;
    transform: rotate(0deg);

}
#nextBtn{
    margin: 0px 15px;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 0 30px 52.0px;
    border-color: transparent transparent transparent #FF4532;
    transform: rotate(0deg);

}


header h1{
    margin: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 70px;
}
#tab{
    font-size: 25px;
}

