/*reset*/
img{
    display: block;
    margin: 0px;
    padding: 0px;
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    border: 5px solid black;
    max-width: 1200px;
    max-height: 750px;

    position: relative;
}
header{
    text-align: center;
}
#tab{
    width: 180px;
    text-align: center;
    background-color: orange;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
    position: absolute;
    top: 8.9%;
    right: 12%;
}
#screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#display{
    width: 1100px;
    height: 620px;
    background-color: orange;
    
    border-style: inset;
    border: 12px solid brown;

    position: relative;
}
.content{
    background-color: red;

    width: 988px;
    height: 620px;

    position: absolute;
}
#previousBtn{
    margin: 0px 15px;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 52px 30px 0;
    border-color: transparent #FF4532 transparent transparent;
    transform: rotate(0deg);
}
#nextBtn{
    margin: 0px 15px;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 0 30px 52.0px;
    border-color: transparent transparent transparent #FF4532;
    transform: rotate(0deg);
}


/*overlay*/
.hidden{
    visibility: hidden;
    opacity: 0;
}
.showing{
    visibility: visible;
    opacity: 1;
}


/*font*/
header h1{
    margin: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 70px;
}
#tab{
    font-size: 20px;
    padding: 5px 0px;
}

