/*reset*/
p, ul, h1, h2{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
img{
    display: block;
    margin: 0px;
    padding: 0px;
}
a, address a{
    text-decoration: none;
    color: inherit;
}

/*stylesheet*/
body{
    background-color: skyblue;
}

header {
    width: 1200px;
    height:300px;
    
    background: url("./images/banner.png");
    background-size: 120%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    margin: 0 auto;
}
#banner{
    width: 1200px;
    height: 250px;

    background: rgb(6,88,168);    
    background: linear-gradient(180deg, rgba(6,88,168,1) 0%, rgba(193,231,245,1) 100%);

    display: flex;
    justify-content: center;
    gap: 50px;
}
#banner img{
    display: block;
    width: 180px;
    height: 105px;
    margin-top: 10px;

    animation-name: happyMochi;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}


#container{
    width: 1200px;
    height: 350px;

    background: url(images/body.png);
    background-size: 264px;
    background-position-x: 9px;
    background-position-y: -1px;

    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.menu{
    display: block;
    
    width: 250px;
    height: 250px;
    
    background: rgba(203,204,205,0.5);
    border: solid black 3px;
    border-radius: 20px;
    
    padding: 5px;
    margin: auto;

    text-align: center;

    transition: all 1s;
}
.menu li a{
    transition: all 0.5s;
}
.menu:hover{
    background: rgba(203,204,205,1);
    transform: scale(1.3);
    transition: all 1s;
}
.menu li a:hover{
    color: rgb(36,36,211);
    font-size: 20px;
    transition: all 0.5s;
}

footer{
    width: 1200px;
    height: 100px;

    background: rgb(97, 157, 255);
    background: linear-gradient(180deg, rgba(97, 157, 255) 0%, rgba(19,15,40,1) 100%);

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

    box-shadow: 0px -3px 5px black;
}


/*fonts*/
header h1, header h2{    
    font-family: 'Concert One';
}
header h1{
    margin-top: 10px;
    color: rgb(250,186,22);
    font-size: 45px;
}
header h2{
    color: rgb(244,237,76);
    font-size: 50px;
}
.menu h2{
    font-family: 'Nunito';
    font-size: 40px;
    margin-top: 5px;
}
.menu li a{
    line-height: 1.5em;
    
    font-family: 'Krub';
    font-size: 15px;
}
footer p, footer address{
    line-height: 1.5em;
    font-family: 'Krub';
}
footer p{
    color: white;
    font-size: 15px;
}
footer address{
    font-size: 12px;
    color: rgba(255, 145, 2, 0.9);
}


/*keyframes for automatic animation*/
@keyframes happyMochi{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(35deg);
    }
    100%{
        transform: rotate(-35deg);
    }
}