/*reset*/
p, ul, h1, h2{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
img{
    display: block;
    margin: 0px;
    padding: 0px;
}
a, address a{
    text-decoration: none;
    color: inherit;
}


/*stylesheet*/
header {
    background: rgb(6,88,168);
    background: url(./images/cloud.png);
    background-size: 110%;
    background-position-x: 25px;
    background-position-y: -10px;

    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;
}
#banner{
    width: 1200px;
    height: 250px;

    background: rgb(6,88,168);
    background: linear-gradient(180deg, rgba(6,88,168,1) 0%, rgba(193,231,245,1) 100%);
    
    display: flex;
    justify-content: center;
}
#banner img{
    display: block;
    width: 225px;
    height: 150px;
    margin-top:25px;
}

#container{
    background: url(images/body.png);
    background-size: 200%;
    background-position-x: -250px;
    background-position-y: -90px;

    width: 1200px;
    height: 400px;

    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.menu{
    display: block;
    
    background: rgba(203,204,205,0.9);
    border: solid black 3px;
    border-radius: 20px;
    
    padding: 15px;
    margin: auto;

    width: 300px;
    height: 300px;
}

footer{
    width: 1200px;
    height: 100px;

    background: url(./images/footer.png);
    background-size:cover;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    
    text-align: center;
}


/*fonts*/
header h1, header h2{
    margin: 20px 0px 0px 20px;
    color: rgb(255, 191, 73);

    font-family: 'Concert One';
}
h1{
    font-size: 50px;
}
header h2{
    font-size: 30px;
}
.menu h2{
    font-family: 'Nunito';
    font-size: 40px;
}
li a{
    line-height: 1.5em;
    
    font-family: 'Krub';
    font-size: 20px;
}
footer p, footer address{
    padding: 10px 0px 0px 0px;

    color: rgb(255,255,255,0.95);
    font-family: 'Krub';
    font-size: 13px;
}

