/*reset*/
p, ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: inherit;
}


/*stylesheet*/
body{
    background-color: lightblue;
}

header {
    background-color: blue;

    max-width: 1200px;
}

#container{
    display: flex;

    justify-content: center;

    background-color: red;

    max-width: 1200px;
    max-height: 400px;
}
.menu{
    display: block;
    
    background-color: gainsboro;
    border: solid black 5px;
    
    margin: 50px;

    max-width: 300px;
    max-height: 400px;
}

footer{
    max-width: 1200px;
    max-height: 100px;

    background-color: green;
}
footer p{
    text-align: center;
}


/*media query*/
@media only screen and (min-width: 601px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    #container{
        display: flex;
        flex-direction: row;

        margin: 0 auto;
    }
    footer{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

