body{
    background-color: #ffefcd;;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    width: 1000px;
}

.chapter{
    background-color: rgb(233, 219, 184);
    border-radius: 8px;
    
    margin: 25px;
    padding: 15px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    color: rgb(48, 48, 48);
}

.category{
    margin-top: 15px;
}
.category h3{
    padding: 0px;
    margin: 0px 0px 5px 0px;
}
.category ul{
    margin: 0px;
}

.interview{
    margin-top: 15px;
}
.interview h3{
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
.interview p{
    margin: 0px;
    padding: 0px;
}

h2{
    margin: 0px 0px 15px 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}


/*fonts*/
h1{
    font-family: 'Tilt Warp';
    font-size: 48px;
}
h2{
    font-family: 'Gabarito';
    font-size: 32px;
}
h3{
    font-family: 'Questrial';
    font-size: 20px;
}
p, li{
    font-family: 'Roboto';
    line-height: 1.5em;
    font-size: 16px;
}