body{
    background-color: #ffefcd;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #f4eddc;
    border-radius: 10px;
    
    width: 700px;
    padding: 20px;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

header h1{
    text-align: center;
    
    margin: 0px;
    padding: 20px 0px;

    font-family: 'Comfortaa';
    font-size: 55px;
}
main p{
    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand';
    font-size: 18px;
    line-height: 1.5em;
}


