/*reset*/
p, ul, h1, h2, h3{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
img{
    display: block;
    margin: 0px;
    padding: 0px;
}
a, address a{
    text-decoration: none;
    color: inherit;
}

