body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    background-color: #002437;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    margin: 0 auto;
    width: 1200px;
    height: 750px;

    background-image: url(./images/madLibsBackground.png);
    background-size: cover;

    border: 5px solid #FFD500;
    border-radius: 10px;

    position: relative;
}
header{
    flex: 1;
    gap: 100px;
    
    padding: 0px 50px;
    
    max-width: 500px;
}
form{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 8%;
    right: 5%;
    padding: 15px 20px 20px 20px;
    
    border: 6px solid rgb(138, 76, 54);
    border-radius: 20px;

    width: 320px;

    background-image: url(./images/notepad.jpg);
    background-size: 90%;
    
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 13px;
}
input[type="text"]:focus{
    outline: 0;
    border: 3px solid #AD4857; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#glass{
    height: 55%;

    position: absolute;
    bottom: 4%;
    left: 20%;
}


/*overlay content*/
.hidden{
    visibility: hidden;
    opacity: 0;
}
.showing{
    visibility: visible;
    opacity: 1;
}
#overlay{
    position: absolute;
    
    background-color: rgba(0,0,0,0.5);
    
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;

    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#overlay article{
    box-sizing: border-box;

    background-image: url('./images/blood_notepad.jpg');
    background-size: cover;
    background-position-x: -25px;

    padding: 20px;
    width: 80vw;
    height: 88vh;

    border: 5px solid #5E232C;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#close{
    margin: 0px;

    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#close, #send{
    border-radius: 8px;
    padding: 8px;

    background-color: #AF2626;
    color: white;

    transition: all 1s;
}
#send:hover, #close:hover{
    color: #E01313;
    background-color: white;

    font-family: 'Cinzel Decorative';
    font-size: 18px;

    transition: all 1s;
}
#close:hover{
    background-color: black;
}


/*font*/
h1{
    font-family: 'Cinzel Decorative';
    font-size: 70px;
    color: white;
    
    margin: 0px;
    padding: 50px 0px 0px 0px;
}
header p{
    font-family: 'Halant';
    font-size: 19px;
    line-height: 1.5em;
    color: white;

    margin: 0px;
    padding: 20px 0px 0px 0px;
}
form h2{
    margin: 0px 0px;
    padding: 0px 0px 20px 0px;

    font-family: 'Besley';
    font-size: 40px;
}
form label, #close, #send{
    font-family: 'Nixie One';
    font-size: 16px;
}
article h2{
    font-family: 'Anonymous Pro';
    font-size: 40px;
    text-align: center;
    color: #7E1A29;

    margin: 0px;
    padding: 5px 0px;
}
article p{
    font-family: 'PT Mono';
    font-size: 15px;
    color: #D9D9D9;

    line-height: 1.2em;
    padding: 0px 10px;
}
em{
    color: #B60F0F;
}
